* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body{
  /* Sempre centraliza*/
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(180deg,#000000 10%,#14213d 100%);
}

img{  
  width: 30px;
}