.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
 
}

h1 {
  color: #fff;
  font-size: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2E2D4E;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
   border: 2px solid #48456C;

  & button {
    border-radius: 30px;
    background-color: #8BBAE1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
  }

  & button:hover {
    opacity: 0.8;
    color: #fff;
  }

  & input,
  textarea {
    border: 1px solid #48456C;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    outline: none;
  }

  & textarea {
    padding-top: 10px;
    resize: none;
    height: 150px;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #2E2D4E;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & .text{
    width: 70%;
  }

  & p {
    margin-right: 80px;
    margin: 10px;
    color: #d3d0d0;
    font-weight: bold;

    & span {
      display: block;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      font-weight: normal;
    }
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & button:hover {
    opacity: 0.5;
  }

  & input[name="check"] {
    width: 25px;
    accent-color: #2E2D4E;
    background-color: #222;
    border: none;
    outline: none;
  }
}